body {
    background-color: rgba(0,0,0,0);
  }
  html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  .theme--dark.v-application {
    background-color: rgba(0,0,0,0) !important;
  }
  #app {
    background-color: rgba(0,0,0,0) !important;
  }

  #app > div > div > footer {
    background-color: rgba(0,0,0,0) !important;
  }